body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
:root {
  --todoist-p1-color: #d1453b;
  --todoist-p2-color: #eb8909;
  --todoist-p3-color: #246fe0;
  --todoist-p4-color: #666;
}
.flex{
  display: flex;
}
.nav{
  justify-content: space-between;
  background-color:var(--todoist-p1-color)
}
.nav >div{
  margin: 0 5rem;
}
.left-nav,.right-nav{
display: flex;
align-items: center;
}
.side-bar{
  width: 30%;
  max-width: 400px;
  height: 100vh;
  background-color: antiquewhite;
}
.vcenter{
  align-items: center;
}
.side-box:hover{
  border-radius: 12px;
  background-color: rgb(214, 200, 200);
 
}
.side-box{
   margin: 1rem;
  padding: 2%;
  align-items: center;
  justify-content: space-between;
}
.name{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.search-box{
  align-items: center;
  border: .8px solid gray;
  border-radius: 8px;
  background-color: rgb(191, 178, 162);
}

.search-box input{
  border: none;
  margin-left: .2rem;
}
.icon{
  margin: 0 .5rem;
  font-size: 2rem;
  color: white;
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
}
.model{
  position: relative;
  top: 100px;
}